body{
    margin: 0;
    padding: 0;
    background-color: rgb(110, 0, 212);
}

#tela{
    width: 400px;
    height: 700px;
    margin: auto;
    background-color: rgb(204, 174, 231);
    border-radius: 5px;
}

#inicio{
    text-align: center;
    padding-top: 1%;
}